   <div class=".container-fluid " id="cardTarget">
        <div class="card gap-5 post-card">
            <div class="post-header" >
               <span style="font-size:larger; font-weight: bolder;">{{title}}</span>
            </div>
            <ul class="list-group list-group-flush bg-transparent">
              <li class="list-group-item bg-transparent">{{post_txt}}</li>
              <li class="list-group-item bg-transparent">| {{format_date created_at}}<a href="/post/{{id}}">{{comment.length}} comment</a></li>
            </ul>
          </div>
    </div>